{% load allauth i18n %}
{% block content %}
    {% element h1 %}
        {% trans "Email Addresses" %}
    {% endelement %}
    {% if emailaddresses %}
        {% element p %}
            {% trans 'The following email addresses are associated with your account:' %}
        {% endelement %}
        {% url 'account_email' as email_url %}
        
        {% element form form=form action=email_url method="post" tags="email" %}
            {% slot body %}
                {% csrf_token %}
                {% if user.emailaddress_set.exists %}
                    {% with emailaddress=user.emailaddress_set.first %}
                        <label for="{{ emailaddress.id }}">{{ emailaddress.email }}</label>
                        {% if emailaddress.verified %}
                            <span>YES</span>
                        {% else %}
                            <span>NO</span>
                        {% endif %}
                        {% if emailaddress.primary %}
                            <span>PRIMARY</span>
                        {% endif %}
                        <input type="hidden" name="email" value="{{ emailaddress.email }}">
                    {% endwith %}
                {% else %}
                    <p>No email address found.</p>
                {% endif %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" name="action_primary" %}
                    {% trans 'Make Primary' %}
                {% endelement %}
                {% element button tags="secondary" type="submit" name="action_send" %}
                    {% trans 'Re-send Verification' %}
                {% endelement %}
                {% element button tags="danger,delete" type="submit" name="action_remove" %}
                    {% trans 'Remove' %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
        


    {% else %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}
    {% if can_add_email %}
        {% element h2 %}
            {% trans "Add Email Address" %}
        {% endelement %}
        {% url 'account_email' as action_url %}
        {% element form form=form method="post" action=action_url tags="email,add" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% element button name="action_add" type="submit" %}
                    {% trans "Add Email" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %}
{% endblock content %}
{% block extra_body %}
    <script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected email address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
    </script>
{% endblock extra_body %}