nav{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 50px;
    align-items: center;
}
hr{
    height: 0.3px;
    opacity: 0.4;
    color: #00d1b2;
    margin: 0;
}
#navright{
    display: grid;
    justify-content: right;
}
#mainnav{
    display: grid;
    justify-content: center;
}
#navleft{
    display: grid;
    justify-content: left;
}
body,html{
    font-family: 'Manrope',sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
#mainnav h3{
    margin: 0;
    font-size: 30px;
}
#navleft h3{
    margin: 0;
    font-size: 30px;
    margin-left: 35px;
    color: #385350f3;
}
#navleft a{
    text-decoration: none;
}
#profile img{
    height: 35px;
    width: 35px;
    border-radius: 35px;
}
#profile{
    margin-right: 10px;
    border: none;
    background: none;
}
#dropdown:hover #profile-content {
    display: block;
}
#profile-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#profile-content {
    display: none;
    position: absolute;
    background-color: #fbfbfb;
    min-width: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 7px;
    top:40px;
}
#dropdown {
    position: relative;
    display: inline-block;
}
