button{
    font-size: 18px;
    font-family: 'Manrope';
    border: none;
    background: none;
}
button:hover{
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: black;
}
#all{
    font-weight: bold;
}
#mainnav{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 8%;
    align-items: center;
}
#completedtasks, #tasks{
    display: none;
}
#main{
    margin-left: 10vw;
}
h4{
    font-size: 35px;
    font-weight: normal;
    margin: 25px 0 25px 0;
}
td{
    height: 80px;   
    font-size: 21px;
    width: 15vw;
    text-align: center;
}
#time{
    font-size: 17px;
}
#tdmain{
    width:50vw;
    text-align: left;
}
#tdmain a{
    width:50vw;
    text-align: left;
    font-size: 25px;
    text-decoration-line: none;
    font-style: normal;
    color: black;
}
.completebtn{
    background-color: #1dc37b62;
    padding: 3px 15px 3px 15px;
    border-radius: 15px 15px 15px 15px;
}
#deletebtn{
    background-color: #c3040495;
    padding: 3px 15px 3px 15px;
    border-radius: 17px 17px 17px 17px;
}
header{
    display: grid;
    grid-template-columns: 63vw auto;
    align-items: center;
}
#addbtn{
    background-color: #1bce74c3;
    padding: 7px 20px 7px 15px;
    border-radius: 5px 5px 5px 5px;
}
