<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>To Do</title>
</head>
<body>
    <nav>
        <div id="navleft">
            <button>left</button>
        </div>
        <div id="navmid">
            <div id="mainnav">
                <button id="today" onclick="today()">Today</button>
                <button id="all" onclick="allt()">All Tasks</button>
                <button id="completed" onclick="completedtasks()">Completed</button>
            </div>
        </div>
        <div id="navright">
            <div id="dropdown">
                <button id="profile">Dropdown</button>
                <div id="profile-content">
                    {% if user.is_authenticated%} 
                        <a href="/profile">Profile</a>
                        <a href="{%url 'account_logout'%}">Logout</a>   
                    {%else%}
                        <a href="{%url 'account_login'%}">Login</a>
                        <a href="{%url 'account_signup'%}">Signup</a>
                    {%endif%}
                </div>
            </div>
        </div>
    </nav>
    <hr>
    <main id="main">
        <div id="tasks">
            <header><h4>Today</h4><span><button id="addbtn"><a href="{% url 'Task:addtask' %}">Add task</a></button></span></header>
            {% if user.is_authenticated%}
                <table>
                {% for task in tasks%}  
                    {%load tz%}
                    {% if task.completed == False and task.deadline%}
                        {% if task.deadline == today %}
                            <tr>
                                <td id="tdmain">
                                    <a href="/update/{{task.id}}">{{task}}</a><br>
                                <span id="time">
                                        {% if task.time %} Time: {{task.time|date:"H:i A"}}  &nbsp {%endif%}
                                        {%if task.deadline%} Date: {{task.deadline}} {%endif%}
                                </span> 
                                </td> 
                                <td id="act">
                                    <a href="/completed/{{task.id}}"><button class="completebtn">Mark as Complete</button></a> 
                                </td> 
                                <!-- <td id="act">
                                    <a href="/delete/{{task.id}}"><button id="deletebtn">Delete</button></a> 
                                </td> -->
                            </tr>
                        {%else%} 
                        {%endif%}
                        
                    {%endif%}
                {%endfor%}
                </table>
            {%endif%}
        </div>
        <div id="alltasks">
            <header><h4>All Tasks</h4><span><button id="addbtn"><a href="{% url 'Task:addtask' %}">Add task</a></button></span></header>
            {% if user.is_authenticated%}
                <table>
                    {% for task in tasks%}  
                    {% if task.completed == False%}
                     <tr>
                        <td id="tdmain">
                            <a href="/update/{{task.id}}">{{task}}</a><br>
                           <span id="time">
                                {% if task.time %} Time: {{task.time}}  &nbsp {%endif%}
                                {%if task.deadline%} Date: {{task.deadline}} {%endif%}
                        </span> 
                        </td> 
                        <td id="act">
                            <a href="/completed/{{task.id}}"><button class="completebtn">Mark as Complete</button></a> 
                        </td> 
                        <td id="act">
                            <a href="/delete/{{task.id}}"><button id="deletebtn">Delete</button></a> 
                        </td>
                    </tr>
                    {%endif%}
                {%endfor%}
                </table>
            {%endif%}
        </div>
        <div id="completedtasks">
            <h4>Completed Tasks</h4>
            {% if user.is_authenticated%}
                <table>
                {% for task in tasks%} 
                    {% if task.completed == True%}   
                        <tr>
                            <td id="tdmain">
                                <s>{{task}}</s><br>
                                <span id="time"> {{task.time}}, {{task.deadline}}</span> 
                            </td> 
                            <td id="act">
                                <a href="/completed/{{task.id}}"><button class="completebtn">Mark as Incomplete</button></a> 
                            </td> 
                            <!-- <td id="act">
                                <a href="/delete/{{task.id}}"><button id="deletebtn">Delete</button></a> 
                            </td> -->
                        </tr>
                    {%endif%}
                {%endfor%}
                </table>
            {%endif%}
        </div>
    </main>
    
    
    <script src="{% static 'home.js' %}"></script>
</body>
</html>