<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>To Do</title>
</head>
<body>
    <nav>
        <div id="navleft">
            <button>left</button>
        </div>
        <div id="navmid">
            <button id="mytasks" onclick="mytasks()">My Tasks</button>
            <button id="completed" onclick="completedtasks()">Completed</button>
            <button><a href="{% url 'Task:addtask' %}">Add task</a></button>
        </div>
        <div id="navright">
            <div id="dropdown">
                <button id="profile">Dropdown</button>
                <div id="profile-content">
                    {% if user.is_authenticated%} <a href="{%url 'account_logout'%}">Logout</a>
                    {%else%}<a href="{%url 'account_login'%}">Login</a>
                            <a href="{%url 'account_signup'%}">Signup</a>
                    {%endif%}
                </div>
            </div>
        </div>
    </nav>
    <main id="main">
        <div id="tasks">
            {% if user.is_authenticated%}
                {% for task in tasks%}  
                    {% if task.completed == False%} <a href="/update/{{task.id}}">{{task}}</a> {{task.deadline}} {{task.time}} <a href="/delete/{{task.id}}">Delete</a> <a href="/completed/{{task.id}}">Mark Completed</a> <br>
                    {%endif%}
                {%endfor%}
            {%endif%}
        </div>
        <div id="completedtasks">
            {% if user.is_authenticated%}
                {% for task in tasks%} 
                    {% if task.completed == True%} <s>{{task}}</s>  {{task.deadline}} {{task.time}}  <a href="/delete/{{task.id}}">Delete</a> <a href="/completed/{{task.id}}">Mark Uncompleted</a> <br>
                    {%endif%}
                {%endfor%}
            {%endif%}
        </div>
    </main>
    
    
    <script src="{% static 'home.js' %}"></script>
</body>
</html>