nav{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
#navright{
    display: grid;
    justify-content: end;
}
#navmid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 10px;
}
#completedtasks{
    display: none;
}
