body{
    font-family: 'Manrope',sans-serif;
    margin: 0;
}

button{
    font-size: 18px;
    font-family: 'Manrope';
    border: none;
    background: none;
}
button:hover{
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: black;
}
nav{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 50px;
    align-items: center;
    /* justify-content: center; */
}
#all{
    font-weight: bold;
}
hr{
    height: 0.3px;
    opacity: 0.4;
    color: #00d1b2;
    margin: 0;
}
#navright{
    display: grid;
    justify-content: right;
}
#mainnav{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 8%;
    align-items: center;
}
#navleft{
    display: grid;
    justify-content: left;
}
#navleft h3{
    margin: 0;
    font-size: 30px;
    margin-left: 35px;
    color: #385350f3;
}
#profile img{
    height: 35px;
    width: 35px;
    border-radius: 35px;
}
#profile{
    margin-right: 10px;
}
#completedtasks, #tasks{
    display: none;
}
#dropdown:hover #profile-content {
    display: block;
}
#profile-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#profile-content {
    display: none;
    position: absolute;
    background-color: #fbfbfb;
    min-width: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 5px;
    top:27px;
}

#dropdown {
    position: relative;
    display: inline-block;
  }
#main{
    margin-left: 10vw;
}
h4{
    font-size: 35px;
    font-weight: normal;
    margin: 25px 0 25px 0;
}
td{
    height: 80px;   
    font-size: 21px;
    width: 15vw;
    text-align: center;
}
#time{
    font-size: 17px;
}
#tdmain{
    width:50vw;
    text-align: left;
}
#tdmain a{
    width:50vw;
    text-align: left;
    font-size: 25px;
    text-decoration-line: none;
    font-style: normal;
    color: black;
}
.completebtn{
    background-color: #1dc37b62;
    padding: 3px 15px 3px 15px;
    border-radius: 15px 15px 15px 15px;
}
#deletebtn{
    background-color: #c3040495;
    padding: 3px 15px 3px 15px;
    border-radius: 17px 17px 17px 17px;
}
header{
    display: grid;
    grid-template-columns: 63vw auto;
    align-items: center;
}
#addbtn{
    background-color: #1bce74c3;
    padding: 7px 20px 7px 15px;
    border-radius: 5px 5px 5px 5px;
}
